body {
  background-color: #04395E;
  width: 100%;
  min-width: 375px;
}

ul {
  width: fit-content;
  margin: 3em auto;
  display: flex;
  padding: 2.5%;
  background-color: #068D9D;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black, -4px -4px 20px;
}

section {
  display: flex;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
li[class^='b']:hover, li[class^='b']:active {
  box-shadow: 1px 5px 7px #AC9EFF;
}
li[class^='w']:hover, li[class^='w']:active {
  box-shadow: 1px 2px 15px #D7D9D7;
}
.w {
  height: 16em;
  width: 4em;
  border: 1px solid black;
  z-index: 1;
  background: linear-gradient(#E8F1F2, #FFFFFD);
}

.b {
  height: 9em;
  width: 2.5em;
  margin: 0 0 0 -1em;
  z-index: 2;
  border: 1px solid black;
  background-color: #140009;
}

.d,
.e,
.g,
.a,
.bn {
  margin-left: -1.75em;
}

.f,
.c {
  margin-left: -1px;
}

.chords {
  display: flex;
  flex-wrap: wrap;
}

.majorChords,
.minorChords,
.pentatonicScales,
.hepatonicScales,
.octatonicScales,
.chromaticScale,
.progressions,
.sevenths {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.pentatonicScales .buttons,
.hepatonicScales .buttons,
.octatonicScales .buttons,
.progressions .buttons,
.sevenths .buttons {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.chords div span div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

button {
  height: fit-content;
  margin: 5px;
  width: fit-content;
  padding: 5px 10px;
  box-shadow: 4px 4px 4px black, -2px -2px 3px darkslategray;
  transition: .5s all ease-in-out;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.15);
  background-color: #AE759F;
  color: #e8f1f2;

}

.chords div span {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #E8F1F2;
}

.buttons {
  display: flex;

}

.naturals,
.sharpsFlats {
  display: flex;
  flex-direction: column;
}

.naturals {
  margin-right: 10px;
}

@media (min-width: 800px) {
  section {
    display: flex;
  }

  /* TODO: add higher and lower octave sections to have no display until a request */
}

@media (max-width: 600px) {
  section {
    display: none;
  }

  .chords div {
    flex-direction: column;
    align-items: center;
  }

  .chords div span {
    flex-wrap: wrap;
    font-size: 1.25em;
    ;
    align-content: center;
  }

  ul {
    min-width: 325px;
    max-width: 90%;
  }

  .w {
    width: 3.5em;
  }

  .b {
    position: relative;
  }

  .d,
  .e,
  .g,
  .a,
  .bn {
    margin-left: -1.75em;
  }

}